# Connection string COM pooler (use essa em DATABASE_URL)
# Formato: postgresql://USER:PASS@ep-xxx-pooler.region.neon.tech/dbname?sslmode=require
DATABASE_URL="postgresql://..."

# Connection string DIRETA (use essa em DIRECT_URL, só para migrations)
# Formato: postgresql://USER:PASS@ep-xxx.region.neon.tech/dbname?sslmode=require
DIRECT_URL="postgresql://..."
